.populares{
    padding: 3rem 0;
}
.populares__contenido{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.populares__card{
    display: grid;
    grid-gap:.5rem;
    grid-template-areas:
    'card-imagen'
    'card-contenido';
    grid-template-columns: 100%;
    grid-template-rows: 175px auto;
    margin: 0.5rem;
    background: #fdfdfd;
}
.populares__card:last-child {
    margin-right: 0;
}
.populares__card___imagen{
    grid-area: card-imagen;
    width: 100%;
    height: 100%;
}
.populares__card___base{
    grid-area:  card-contenido;
    display: grid;
    grid-gap: .5rem;
    grid-template-areas: 
    'card-titulo'
    'card-descripcion';
    grid-template-rows: 50px auto;
    padding: 0.75rem;
}
.populares__card___header{
    grid-area: card-titulo;
}
.populares__card___titulo{
    color: #333333;
    font-size: 1.5rem;
}
.populares__card___data{
    opacity: .8;
    font-size: .9rem;
}
.populares__card___descripcion{
    grid-area: card-descripcion;
    color: #333333;
    line-height: 1.5;
    padding: 1rem 0;
    text-align: justify;
}
.populares__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}
.populares__icon{
    margin-right: .25rem;
}
.populares__titulo{
    font-weight: 500;
}
.populares__boton{
    border: none;
    color: #333333;
    background-color: transparent;
}

